  
  <!--Footer-->
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <h6 class="navbar-brand">&copy;2022 Matthew Mikhaiel - 301229715</h6>
    </div>
  </nav>